
$primary-color: #333;
$secondary-color: #f8f9fa;
$header-bg-color: black;
$header-text-color: white;
$title-bg-color: gray;
$title-text-color: black;
$footer-bg-color: black;
$footer-text-color: white;

$container-padding: 20px;

